*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color:rgb(21, 21, 81);
  color:white;
  padding: 20px;
  text-align: center;
}
.intro {
    background-color:rgb(21, 21, 81);
    color:white;
    padding: 20px;
    text-align: center;
}
.cards-container {
    padding: 20px;
}
article {
  width: 100%;
  margin-bottom: 16px;
  padding: 20px;
  background-color: rgb(21, 21, 81);
  color:white;
}
footer {
    background-color: rgb(21, 21, 81);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 24px;
}

@media (min-width: 768px) {
  article {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    vertical-align: top;
  }
}
